---
import {between, count, eq} from 'drizzle-orm'
import {drizzle} from 'drizzle-orm/neon-http'
import {titleCase} from 'title-case'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import {Paginate} from '@/components/pagination'
import {Button, buttonVariants} from '@/components/ui/button'
import {TooltipButton} from '@/components/unicode/block'
import {unicodeBlocks, unicodeData} from '@/db/schema'
import Layout from '@/layouts/Layout.astro'
import {unicodeTitleCase} from '@/lib/utils'

const {id, page} = Astro.params
const pageSize = 256
const {env} = Astro.locals.runtime
const db = drizzle(env.DATABASE_URL)

if (id === undefined) return Astro.redirect('/404')
if (/[A-Z]+/.test(id) || id.length < 4)
  return Astro.redirect(`/unicode/block/${id.toLowerCase().padStart(4, '0')}`)

const currentPage = page ? Number(page) : 1
if (page && Number.isNaN(currentPage)) return Astro.redirect('/404')

const block = (
  await db
    .select()
    .from(unicodeBlocks)
    .where(eq(unicodeBlocks.first, parseInt(id, 16)))
)[0]
if (block === undefined) return Astro.redirect('/404')

const pageStartCode = block.first + (currentPage - 1) * pageSize
const pageEndCode = pageStartCode + pageSize < block.last ? pageStartCode + pageSize : block.last
const remainSlotCount = block.last - pageStartCode + 1
const totalCount = (
  await db
    .select({count: count()})
    .from(unicodeData)
    .where(between(unicodeData.code, block.first, block.last))
)[0].count
const allCodes = Array.from({length: block.last - block.first + 1}, (_e, i) => i + block.first)
const currentSlotsCodes = Array.from(
  {
    length:
      allCodes.length < pageSize
        ? allCodes.length
        : remainSlotCount < pageSize
          ? remainSlotCount
          : pageSize,
  },
  (_e, i) => i + block.first + (currentPage - 1) * pageSize,
)
const rowLabels = [
  ...new Set(
    currentSlotsCodes.map((e) =>
      e
        .toString(16)
        .padStart(4, '0')
        .substring(0, e.toString(16).padStart(4, '0').length - 1)
        .toUpperCase(),
    ),
  ),
]
const totalPage = Math.ceil(allCodes.length / pageSize)
const chars = await db
  .select({code: unicodeData.code, name: unicodeData.name})
  .from(unicodeData)
  .where(between(unicodeData.code, pageStartCode, pageEndCode))
---

<Layout title={`유니코드 블록 ‘${block.nameKo ? block.nameKo : block.name}’`}>
  <Header />
  <main class="container-x py-4">
    <section>
      범위: U+{block.first.toString(16).padStart(4, '0').toUpperCase()}~{block.last.toString(16).padStart(4, '0').toUpperCase()}<br />
      이름: {block.nameKo}<br />
      이름: {block.name}<br />
      문자 수: {Intl.NumberFormat('ko-KR').format(totalCount)}<br />
      <a
        href={`https://en.wikipedia.org/wiki/${block.name.replaceAll(' ', '_')}_(Unicode_block)`}
        target="_blank"
        rel="nofollow noreferrer noopener"
      >
        위키백과 (영어)
      </a>
    </section>
    <section class="block-grid">
      <div class="flex gap-2">
        <div class="basis-17.5 shrink-0">
        </div>
        <div class="grid grid-cols-16 gap-1 xl:gap-2 grow text-center tabular-nums">
          <div>0</div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
          <div>A</div>
          <div>B</div>
          <div>C</div>
          <div>D</div>
          <div>E</div>
          <div>F</div>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="basis-17.5 shrink-0 flex flex-col gap-1 xl:gap-2 tabular-nums">
          {rowLabels.map((e) => <div class="grow flex items-center justify-end">U+{e}</div>)}
        </div>
        <div class="grid grid-cols-16 gap-1 xl:gap-2 grow text-center">
          {currentSlotsCodes.map((e) => {
            return chars.find((f) => f.code === e)
              ? (
                <TooltipButton client:load tooltip={unicodeTitleCase(titleCase(chars.find((f) => f.code === e)?.name.toLowerCase()!))}>
                  <a
                    class={`${buttonVariants({variant: 'secondary', size: 'lg'})} item`}
                    href={`/unicode/${e.toString(16).padStart(4, '0')}`}
                    aria-label={`${unicodeTitleCase(titleCase(chars.find((f) => f.code === e)?.name.toLowerCase()!))} (U+${e.toString(16).padStart(4, '0').toUpperCase()})`}
                  >
                    {String.fromCodePoint(e)}
                  </a>
                </TooltipButton>
              ) : <Button disabled variant="outline" size="lg" className="item" />
          })}
        </div>
      </div>
    </section>
    <Paginate currentPage={currentPage} totalPage={totalPage} url={`/unicode/block/${id}`} />
  </main>
  <Footer />
</Layout>

<style lang="sass" is:global>
  @reference '@/styles/global.css'

  .block-grid
    @apply flex flex-col gap-2 leading-none
    button, .item
      @apply md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl aspect-square p-0 h-auto font-normal w-full leading-0
</style>
