---
import {asc} from 'drizzle-orm'
import {drizzle} from 'drizzle-orm/neon-http'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import {BlocksTable} from '@/components/unicode/blocks'
import {unicodeBlocks, unicodeData} from '@/db/schema'
import Layout from '@/layouts/Layout.astro'

const {page} = Astro.params
const {env} = Astro.locals.runtime
const db = drizzle(env.DATABASE_URL)

const currentPage = Number(page)
if (page && isNaN(currentPage)) return Astro.redirect('/404')

const getBlocks = async (page = 1, pageSize = 15) => {
  return await db
    .select()
    .from(unicodeBlocks)
    .orderBy(asc(unicodeBlocks.first))
    .limit(pageSize)
    .offset((page - 1) * pageSize)
}
const blocks = await getBlocks(currentPage)
const data = await db.select({code: unicodeData.code}).from(unicodeData)
---

<Layout title="유니코드 블록">
  <Header />
  <main class="container-x py-4">
    <BlocksTable client:load blocks={blocks} data={data} />
  </main>
  <Footer />
</Layout>
