---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import ChzzkHeader from '@/components/chzzk/Header.astro'
import {buttonVariants} from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import {checkSignedIn, getUser} from '@/lib/chzzk'

const {env} = Astro.locals.runtime

const interlockParams = new URLSearchParams({
  clientId: env.CHZZK_CLIENTID,
  redirectUri: env.CHZZK_REDIRECTURI,
  state: env.CHZZK_STATE,
})

const isSignedIn = await checkSignedIn(Astro.cookies, Astro.locals)
const user = await getUser(Astro.cookies)
---

<Layout title='치지직 도구'>
  <Header />
  {isSignedIn ? (
    <main class="container-x flex flex-col">
      <ChzzkHeader />
      <p>로그인 상태입니다. 채널 ID: {user.content.channelId}</p>
    </main>
  ) : (
    <main class="container-x flex items-center justify-center">
      <a
        class={buttonVariants()}
        rel="nofollow noreferrer noopener"
        href={`https://chzzk.naver.com/account-interlock?${interlockParams}`}>
        치지직으로 로그인
      </a>
    </main>
  )}
  <Footer />
</Layout>
