---
import {buttonVariants} from '@/components/ui/button'
import settings from '@/settings.json'
import * as icons from 'simple-icons'
---

<footer>
  <section>
    <div class="detail">
      © 2019–2025 Lee Minseo
      {Astro.url.pathname === '/galmuri' && (
        <small>
          닌텐도 DS는 Nintendo의 상표이며 이 프로젝트는 Nintendo와 어떠한 관련도 없습니다.<br />
          각 폰트 및 게임은 해당 소유자, 저작권자 및 사용 허가자의 상표 및 저작권 자산입니다.
        </small>
      )}
    </div>
    <div class="sns">
      {settings.sns.map((sns) => {
        return <a
          aria-label={sns.name.name}
          class={`${buttonVariants({ variant: 'ghost', size: 'icon' })} button icon-button ${sns.name.slug}`}
          href={sns.url}
          set:html={icons[`si${sns.name.slug.charAt(0).toUpperCase()}${sns.name.slug.slice(1)}`].svg}
          target="_blank"
          rel="nofollow noreferrer noopener"
        />
      })}
    </div>
  </section>
</footer>

<style lang="sass">
  @reference '@/styles/global.css'

  footer
    @apply sticky top-0 bg-background z-50 py-6
    section
      @apply container-x flex justify-between items-start gap-8
      .detail
        @apply flex flex-col py-1
        small
          @include g(g7, 2)
          @apply text-muted-foreground
      .sns
        @apply flex items-center
        a
          @apply w-8 h-8 fill-current
</style>
