---
import {eq} from 'drizzle-orm'
import {drizzle} from 'drizzle-orm/neon-http'
import {titleCase} from 'title-case'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import {unicodeData} from '@/db/schema'
import Layout from '@/layouts/Layout.astro'
import {unicodeTitleCase} from '@/lib/utils'

const {id} = Astro.params
const {env} = Astro.locals.runtime
const db = drizzle(env.DATABASE_URL)

if (id === undefined) return Astro.redirect('/404')
if (/[A-Z]+/.test(id)) return Astro.redirect(`/unicode/${id.toLowerCase()}`)
const char = (
  await db
    .select()
    .from(unicodeData)
    .where(eq(unicodeData.code, parseInt(id, 16)))
)[0]
if (char === undefined) return Astro.redirect('/404')
---

<Layout title={`유니코드 문자 ‘${unicodeTitleCase(titleCase(char.name.toLowerCase()))}’`}>
  <Header />
  <main>
    <section class="glyph">{String.fromCodePoint(char.code)}</section>
    <section class="content">
      <h1 class="scroll-m-20 text-4xl font-extrabold text-balance mb-1">
        {unicodeTitleCase(titleCase(char.name.toLowerCase()))}
      </h1>
      <p>코드 포인트: U+{char.code.toString(16).padStart(4, '0').toUpperCase()}</p>
    </section>
  </main>
  <Footer />
</Layout>

<style lang="sass">
  @reference '@/styles/global.css'

  main
    @apply container-x py-4 mt-4 flex flex-col md:flex-row-reverse
  .glyph
    @apply bg-secondary rounded-md text-9xl !leading-0 flex w-60 h-60 items-center justify-center text-center shrink-0 shadow-xs
  .content
    @apply grow
</style>
