---
import {eq} from 'drizzle-orm'
import {drizzle} from 'drizzle-orm/neon-http'
import {titleCase} from 'title-case'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import {unicodeData} from '@/db/schema'
import Layout from '@/layouts/Layout.astro'
import {unicodeTitleCase} from '@/lib/utils'

const {id} = Astro.params
const {env} = Astro.locals.runtime
const db = drizzle(env.DATABASE_URL)

if (id === undefined) return Astro.redirect('/404')
if (/[A-Z]+/.test(id)) return Astro.redirect(`/unicode/${id.toLowerCase()}`)
const char = (
  await db
    .select()
    .from(unicodeData)
    .where(eq(unicodeData.code, parseInt(id, 16)))
)[0]
if (char === undefined) return Astro.redirect('/404')
---

<Layout title={`유니코드 문자 ‘${unicodeTitleCase(titleCase(char.name.toLowerCase()))}’`}>
  <Header />
  <main class="container-x py-4">
    id: U+{char.code.toString(16).padStart(4, '0').toUpperCase()}<br />
    name: {unicodeTitleCase(titleCase(char.name.toLowerCase()))}
  </main>
  <Footer />
</Layout>
