---
import {getEntry} from 'astro:content'
import {titleCase} from 'title-case'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'

const {id} = Astro.params
if (id === undefined) return Astro.redirect('/404')
if (/[A-Z]+/.test(id)) return Astro.redirect(`/unicode/${id.toLowerCase()}`)
const char = await getEntry('unicodeData', id.toUpperCase())
if (char === undefined) return Astro.redirect('/404')
---

<Layout title={`유니코드 문자 “${char.data.name}”`}>
  <Header />
  <main class="container-x py-4">
    id: {char.id}<br />
    name: {titleCase(char.data.name.toLowerCase())}
  </main>
  <Footer />
</Layout>
