---
import 'inter-ui/inter-variable.css'
import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
}

const {title, description} = Astro.props
---

<!DOCTYPE html>
<html lang="ko-KR" data-path={Astro.url.pathname}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ? `${title} – quiple` : 'quiple'}</title>
    <meta property="og:title" content={title ? `${title} – quiple` : 'quiple'} />
    {description && (
      <meta name="description" content={description} />
      <meta property="og:description" content={description} />
    )}
    <link rel="canonical" href={Astro.url} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="quiple" />
    <meta name="author" content="quiple" />
    {Astro.url.pathname === '/galmuri' ? (
      <link rel="icon" type="image/png" sizes="32x32" href="/images/galmuri-32.png" />
      <link rel="icon" type="image/svg+xml" sizes="any" href="/images/galmuri.svg" />
      <link rel="apple-touch-icon" type="image/png" href="/images/galmuri.png" />
    ) : (
      <link rel="icon" type="image/png" sizes="32x32" href="/images/q-32.png" />
      <link rel="icon" type="image/svg+xml" sizes="any" href="/images/q.svg" />
      <link rel="apple-touch-icon" type="image/png" href="/images/q.png" />
    )}
    <link rel="sitemap" href="/sitemap-index.xml" />
    {import.meta.env.PROD && (
      <link rel="manifest" href="/manifest.json" />
    )}
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
  }
</script>

<style lang="sass" is:global>
  @reference '@/styles/global.css'

  main
    min-height: calc(-129px + 100vh)
</style>
