---
interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" type="image/svg+xml" href="/images/galmuri.svg" />
    <link rel="apple-touch-icon" type="image/png" href="/images/galmuri.png" />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    <slot />
  </body>
</html>
