---
interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" type="image/svg+xml" href="/images/galmuri.svg" />
    <link rel="apple-touch-icon" type="image/png" href="/images/galmuri.png" />
    <link rel="manifest" href="/manifest.json" />
    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src="https://umami.quiple.dev/script.js"
          data-website-id="c11336e5-f347-4ae5-a289-3f7c9edbe5cd"
        />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
